@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/Ubuntu-Regular.eot');
  src: local('O'), url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/Ubuntu-Bold.eot');
  src: local('O'), url('../fonts/Ubuntu-Bold.woff') format('woff'), url('../fonts/Ubuntu-Bold.ttf') format('truetype'), url('../fonts/Ubuntu-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}