
@media screen and (max-width: 1220px){
	.top_header{
		padding: 0 5px;
	}
	.top_header > .flex{
		justify-content: space-between;
	}
	.social{
		margin: 0;
	}
	.top_nav{
		margin: 0;
	}
	.logo{
		margin: 0;
	}
	.tell{
		margin-left: 55px;
	}
	.basket_b{
		margin: 0;
	}
	.header .inside > .flex{
		justify-content: space-between;
	}
	.container1{
		padding-left: 10px;
		box-sizing: border-box;
	}

	
}

@media screen and (max-width: 1120px){
	.product_w > .flex{
		justify-content: space-around;
	}
	.footer_mail_tel{
		margin: 0;
	}
}


@media screen and (max-width: 1170px){
	.container3 > .flex{
		flex-wrap: wrap;
		justify-content: center;
	}
	.form_cart_w{
		margin: 0 15px;
		margin-top: 35px;
	}
}

@media screen and (max-width: 1080px){
	.tell a:before{
		left: -55px;
	}
	.tell{
		margin-left: 35px;
	}
}

@media screen and (max-width: 1060px){
	.header_w{
		display: none;
	}
	.header_mob{
		display: block;
		position: fixed;
	}
	.logo img{
		max-width: 100%;
	}
	.logo{
		max-width: 100%;
		margin-left: 30px;
	}
	main{
		padding-top: 108px;
	}
}

@media screen and (max-width: 820px){
	.cart_footer{
		display: none
	}
	.cart_w{
		background: #F5F5F5;
	}
	.cart{
		background: #fff;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
		border-radius: 6px;
		margin-bottom: 10px;
		border: none;
		position: relative;
		padding-right: 15px;
	}
	.cart > .flex{
		flex-wrap: wrap;
	}
	.cart_img{
		display: none;
	}
	.cancel{
		position: absolute;
		right: 15px;
		top: 15px;
	}
	.cart_price_w{
		justify-content: space-between;
		width: 100%;
		min-width: 0;
		margin-right: 0;
		margin-top: 30px;
	}
	.cart_txt{
		width: 100%;
		min-width: 0;
		max-width: 100%;
	}
	.cart_w_w{
		width: 100%;
		padding: 0 2%;
		box-sizing: border-box;
	}
	.h13{
		margin-bottom: 10px;
	}
	.form_cart_w{
		display: none;/*wert*/
	}
	.form_cart_w.active{
		display: block;
	}
	.back a{
		margin-top: 10px;
	}
	.cart_footer.mob{
		display: block;
	}
	.cart_footer form{
		margin: 0 auto;
	}
	.cart_footer.mob > .flex{
		justify-content: center;
	}
	.container3{
		margin-bottom: 0;
	}
	.cart_footer_mob{
		display: block;
	}
	.h17{
		background: #f5f5f5;
		padding-left: 0;
	}
	.form_cart form{
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
	}
	.form_cart_w{
		margin: 0;
		margin-top: 35px;
	}
	.form_cart form .input1{
		text-align: left;
	}
	.cart_button{
		background-color: #ffeec5;
		box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.15);
		padding: 20px 15px;
		box-sizing: border-box;
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
	}
	.cart_button button{
		height: 60px;
		padding: 0 30px;
		box-sizing: border-box;
		text-transform: uppercase;
		max-width: 100%;
		border-radius: 30px;
		transition: 0.3s;
	}
	.cart_page footer{
		padding-bottom: 135px;
	}
	.form_cart form{
		padding-bottom: 0;
	}
}



@media screen and (max-width: 720px){
	#container1{
		height: 370px;
		background-position: left 51% top 95%;
	}
	.h3{
		font-size: 40px;
		line-height: 40px;
	}
	#container2{
		padding: 0 3%;
	}
	.product_txt{
		padding: 0 10px;
	}
	.filter ul li:last-child{
		margin-right: 0;
	}
	.product{
		height: auto;
		min-height: 0;
	}
	.product_f_w.active .product_f{
		padding: 0 10px;
	}
	.h9{
		font-size: 14px;
	}
	.social.social_footer .flex.mob{
		display: flex;
		order: 2;
	}
	.social.social_footer .flex{
		display: none;
	}
	.footer_mail_tel{
		order: 3;
		width: 100%;
		text-align: left;
		padding-left: 66px;
		margin-top: 15px;
	}
	.footer > .flex{
		flex-wrap: wrap;
	}
	.social.social_footer{
		margin-top: -5px;
	}
	.social img{
		filter: none;
		opacity: 1;
	}
	.cart_page .h10{
		font-size: 40px;
		margin-bottom: 40px;
	}

	
}



@media screen and (max-width: 620px){
	.order_go{
		width: auto;
	}
	.order_go a{
		font-size: 22px;
		line-height: 40px;
		height: 40px;
		padding: 0 15px;
	}
	.cart_footer_mob .h16 strong{
		margin-left: 10px;
	}
	.cart_txt > .flex{
		flex-wrap: wrap;
	}

}







@media screen and (max-width: 520px){
	.header_mob .basket_b a{
		margin-left: 15px;
	}
	.header_mob{
		 padding: 39px 15px;
	}
	.logo{
		margin-left: 15px;
	}
	.header_mob.open{
		padding-right: 15px;
	}
	.h3 {
		font-size: 32px;
		line-height: 34px;
	}
	.cart_footer_mob > .flex{
		flex-wrap: wrap;
	}
	
}

@media screen and (max-width: 480px){
	.cart_footer_mob > .flex{
		justify-content: center;
	}
	.order_go{
		width: 100%;
	}
	.h16{
		margin-bottom: 20px;
	}
	.cart_footer_mob{
		padding-top: 10px;
	}
}


@media screen and (max-width: 460px){
	.header_mob .basket_b a span {
		width: 20px;
		height: 20px;
		font-size: 16px;
		line-height: 20px;
		left: 25px;
		top: -8px;
	}
	.header_mob .basket_b a:before{
		left: 6px;
    	top: 7px;
	}
	.header_mob .basket_b a{
		width: 38px;
		height: 38px;
	}
	.footer_mail_tel{
		order: 2;
	}
	.social.social_footer{
		order: 3;
		margin-top: 15px;
		padding-left: 60px;
	}
	.h14_1{
		width: 100%;
		margin-bottom: 5px;
	}
	

	
}


@media screen and (max-width: 420px){
	#mobile-navigation {
		padding-left: 15px;
		padding-top: 20px;
	}
	.left-sidebar_w .h_w{
		padding-left: 20px;
	}
	.left-sidebar_w .top_nav ul li a {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.left-sidebar_w .h1{
		font-size: 24px;
		padding-top: 5px;
	}
	.cart_footer{
		padding-left: 0;
	}
}



@media screen and (max-width: 360px){
	.form_cart form .input1 .input1_1 input[type="text"]{
		width: 75px;
	}
	.form_cart form .input1 input[type="text"]{
		width: 198px;
	}
	.form_cart form{
		padding-left: 5px;
		padding-right: 10px;
	}
	.form_cart form .input1.input3 input[type=text]{
		width: 295px;
	}
	.cart_button button{
		width: 280px;
	}
	
}

@media screen and (max-width: 1px){
	

}