@import url(reset.css);
@import url(fonts.css);
body {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 1px;
}
.wrapper {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}
.inside {
  width: 1200px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
.usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex_m {
  align-items: center;
}
.flex_t {
  align-items: flex-start;
}
.flex_b {
  align-items: flex-end;
}
.flex_sb {
  justify-content: space-between;
}
.flex_c {
  justify-content: center;
}
.flex_sa {
  justify-content: space-around;
}
.flex_e {
  justify-content: flex-end;
}
.mob {
  display: none;
}
main {
  background: #F5F5F5;
  padding-bottom: 24px;
}
.sidebar_w {
  display: none;
}
.top_header_w {
  padding-top: 9px;
  background-color: #f5f5f5;
  padding-bottom: 5px;
}
.h1 {
  font: 15px "Ubuntu-Bold";
  color: #333333;
  padding-left: 24px;
  position: relative;
  box-sizing: border-box;
}
.h1:before {
  content: "";
  width: 14px;
  height: 20px;
  left: 0;
  top: 0;
  position: absolute;
  background: url(../images/marker.png) no-repeat center 0;
}
.h2 {
  font: 15px "Ubuntu-Regular";
  color: #333333;
  margin-left: 29px;
}
.social {
  margin-left: 118px;
  margin-top: -2px;
}
.social img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  transition: 0.3s;
  opacity: 0.6;
  cursor: pointer;
  margin: 0 3px;
}
.social img:hover {
  filter: none;
  transition: 0.3s;
  opacity: 1;
}
.top_nav {
  margin-left: 152px;
}
.top_nav ul li {
  margin-right: 17px;
}
.top_nav ul li a {
  font: 15px "Ubuntu-Regular";
  color: #781214;
  transition: 0.3s;
}
.top_nav ul li a:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.top_nav li:last-child {
  margin-right: 0;
}
.nav {
  margin-top: 6px;
}
.nav ul li {
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  padding-bottom: 5px;
  margin-right: 19px;
}
.nav ul li a {
  font: 20px "Ubuntu-Regular";
  color: #781214;
  transition: 0.3s;
  box-sizing: border-box;
  border-radius: 1.5px;
}
.nav ul li:hover {
  transition: 0.3s;
  border-bottom: 3px solid #F2AC00;
}
.nav ul li:hover a {
  color: #666666;
}
.nav ul .active {
  border-bottom: 3px solid #F2AC00;
}
.nav ul .active a {
  color: #666666;
}
.logo {
  margin-right: 71px;
}
.header {
  padding: 38px 0;
}
.tell {
  text-align: left;
  margin-left: 110px;
  margin-top: -4px;
}
.tell a {
  font: 20px "Ubuntu-Bold";
  color: #333333;
  transition: 0.3s;
  position: relative;
}
.tell a:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.tell p {
  font: 15px "Ubuntu-Regular";
  color: #333333;
}
.tell a:before {
  content: "";
  width: 46px;
  height: 46px;
  position: absolute;
  left: -60px;
  top: -2px;
  background: url(../images/tell.png) no-repeat center 0;
}
.basket_b {
  margin-left: 39px;
}
.basket_b a {
  box-sizing: border-box;
  font: 16px/42px "Ubuntu-Bold";
  width: 140px;
  height: 46px;
  border-radius: 23px;
  color: #999999;
  background: #F5F5F5;
  padding-left: 27px;
  position: relative;
  transition: 0.3s;
  text-align: center;
}
.basket_b a span {
  position: absolute;
  left: 33px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: #781214;
  font: 11px/15px "Ubuntu-Regular";
  color: #ffffff;
  border-radius: 100px;
}
.basket_b a:hover {
  background: #DEDEDE;
  transition: 0.3s;
}
.basket_b a:before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  left: 16px;
  top: 13px;
  background: url(../images/basket_b.png) no-repeat center bottom;
}
.basket_b.active a {
  color: #781214;
  background: #F2AC00;
  transition: 0.3s;
}
.basket_b.active a:hover {
  background: #D59900;
  transition: 0.3s;
}
.basket_b.active a:before {
  background-position: center top;
}
#container1 {
  height: 500px;
  background: url(../images/bg.jpg) no-repeat center 0;
}
.h3 {
  font: 60px/64px "Ubuntu-Bold";
  color: #111111;
  text-align: left;
  margin-top: 57px;
}
.h4 {
  width: 244px;
  height: 55px;
  font: 18px/55px "Ubuntu-Bold";
  color: #fff;
  background: #781214;
  text-transform: uppercase;
  border-radius: 27.5px;
  margin-top: 40px;
  position: relative;
}
.h4 p {
  text-align: left;
  margin-left: 28px;
}
.h4:before {
  width: 19px;
  height: 15px;
  content: "";
  position: absolute;
  right: 26px;
  top: 20px;
  background: url(../images/arrow.png) no-repeat center 0;
}
#container1 > a {
  width: 100%;
  height: 100%;
}
.product_w {
  margin-top: 49px;
  box-sizing: border-box;
}
.product {
  background: #fff;
  margin-bottom: 60px;
  width: 360px;
  min-height: 608px;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.product_img {
  width: 260px;
  height: 260px;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 22px;
}
.product_img img {
  max-width: 100%;
}
.product_txt {
  box-sizing: border-box;
  padding: 0 28px;
  text-align: left;
  margin-bottom: 27px;
}
.h5 {
  font: 24px "Ubuntu-Bold";
  color: #781214;
  margin-bottom: 17px;
}
.h6 {
  font: 15px/20px "Ubuntu-Regular";
  color: #333333;
  margin-bottom: 25px;
}
.product_size {
  display: inline-block;
  background: #F5F5F5;
  border-radius: 16px;
  margin-bottom: 27px;
}
.product_size ul li {
  width: 61px;
  height: 31px;
  background: #F5F5F5;
  transition: 0.3s;
  cursor: pointer;
  font: 15px/31px "Ubuntu-Regular";
  color: #781214;
  border-radius: 16px;
  text-align: center;
}
.product_size ul li:hover {
  background: #f2ac00;
  transition: 0.3s;
  color: #111111;
}
.product_size ul .active {
  background: #f2ac00;
  color: #111111;
}
.filter ul li {
  margin-right: 29px;
}
.filter ul li .jq-radio {
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #A0A0A0;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.filter ul li label {
  cursor: pointer;
}
.filter ul li .jq-radio.checked {
  border-color: #781214;
  background: url(../images/elips.png) no-repeat center center;
}
.filter_input {
  margin-right: 7px;
}
.filter ul li label {
  font: 15px "Ubuntu-Regular";
}
.filter ul .active label {
  font: 15px "Ubuntu-Bold";
}
.product_f_w {
  background: #FFEEC5;
  padding: 9px 0;
  box-sizing: border-box;
  height: 66px;
}
.product_w > .flex {
  flex-wrap: wrap;
}
.product_f {
  padding: 0 30px;
}
.h7 {
  font: 30px "Ubuntu-Bold";
  color: #333;
}
.h7 span {
  font: 15px "Ubuntu-Regular";
}
.h8 a {
  font: 16px/46px "Ubuntu-Bold";
  color: #fff;
  width: 144px;
  height: 46px;
  border-radius: 23px;
  background: #781214;
  text-transform: uppercase;
  transition: 0.3s;
}
.h8 a:hover {
  transition: 0.3s;
  background: #4A0B0C;
}
.product_f_w .h9 {
  display: none;
}
.product_f_w .plus_minus_w {
  display: none;
}
.product_f_w.active .h8 {
  display: none;
}
.product_f_w.active .h9 {
  display: block;
}
.product_f_w.active .plus_minus_w {
  display: block;
}
.h9 {
  font: 16px "Ubuntu-Bold";
  color: #333;
  text-transform: uppercase;
  position: relative;
  margin-top: 6px;
  margin-left: 27px;
}
.h9:before {
  width: 22px;
  height: 15px;
  content: "";
  position: absolute;
  left: -30px;
  top: 2px;
  background: url(../images/check.png) no-repeat center 0;
}
.plus_minus_w {
  margin-top: 9px;
}
.plus_minus_w button {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background: url(../images/plus1.png) no-repeat center center, #e8e8e8;
}
.plus_minus_w input[type=text] {
  width: 22px;
  height: 25px;
  font: 16px/25px "Ubuntu-Regular";
  color: #333;
  text-align: center;
  border: none;
  background: none;
}
.plus_minus_w input::-webkit-input-placeholder {
  opacity: 1;
  color: #333;
  font: 16px "Ubuntu-Regular";
}
.plus_minus_w input::-moz-placeholder {
  color: #333;
  opacity: 1;
  font: 16px "Ubuntu-Regular";
}
.plus_minus_w input:-moz-placeholder {
  opacity: 1;
  color: #333;
  font: 16px "Ubuntu-Regular";
}
.plus_minus_w input:-ms-input-placeholder {
  opacity: 1;
  color: #333;
  font: 16px "Ubuntu-Regular";
}
.plus_minus_w .minus button {
  background: url(../images/minus1.png) no-repeat center center, #e8e8e8;
}
.plus_minus_w .minus.active button {
  background: url(../images/minus.png) no-repeat center center, #f2ac00;
}
.plus_minus_w .plus.active button {
  background: url(../images/plus.png) no-repeat center center, #f2ac00;
}
.product_f_w.active .product_f {
  padding-right: 27px;
}
.product.product2 {
  min-height: 0;
}
.h10 {
  font: 60px "Ubuntu-Regular";
  color: #111;
  text-align: left;
  margin-top: 10px;
}
footer {
  background: #fff;
  padding-top: 33px;
  padding-bottom: 32px;
}
.footer_logo {
  margin-left: 3px;
}
.footer_logo_img {
  margin-right: 17px;
}
.h11 {
  font: 15px "Ubuntu-Regular";
  text-align: left;
  margin-top: 2px;
  margin-bottom: 7px;
}
.h11 a {
  font: 15px "Ubuntu-Regular";
  color: #000;
  transition: 0.3s;
}
.h11 a:hover {
  transition: 0.3s;
  text-decoration: underline;
}
.h12 a {
  font: 15px "Ubuntu-Regular";
  color: #781214;
  transition: 0.3s;
  text-align: left;
}
.h12 a:hover {
  transition: 0.3s;
  text-decoration: underline;
}
.social.social_footer {
  margin: 0;
  margin-top: 6px;
}
.footer_mail_tel {
  margin-left: -284px;
}
.cart_page .h10 {
  margin-top: 54px;
  margin-bottom: 67px;
  font: bold 60px "Ubuntu-Bold";
}
.cart_w {
  background: #fff;
  border-radius: 3px;
}
.cart {
  padding-top: 13px;
  padding-left: 15px;
  box-sizing: border-box;
  padding-right: 30px;
  padding-bottom: 9px;
  border-bottom: 2px solid #F5F5F5;
}
.select_w {
  margin-left: -16px;
}
.select_w .jq-selectbox__select {
  text-align: left;
  font: 15px "Ubuntu-Regular";
  color: #781214;
  cursor: pointer;
}
.select_w .jq-selectbox__dropdown {
  text-align: left;
  font: 15px "Ubuntu-Regular";
  color: #781214;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.select_w .jq-selectbox__select-text {
  border-bottom: 1px dashed #781214;
}
.select_w .jq-selectbox li {
  background: #fff;
  padding: 8px 0;
  padding-right: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
  transition: 0.3s;
}
.select_w .jq-selectbox li:hover {
  background: #E7E7E7;
  transition: 0.3s;
}
.cart_img {
  margin-right: 19px;
}
.cart_txt {
  text-align: left;
  margin-top: -5px;
  min-width: 415px;
  max-width: 415px;
}
.h13 {
  font: 20px "Ubuntu-Regular";
  color: #781214;
  margin-bottom: 4px;
}
.h14 {
  font: 15px "Ubuntu-Regular";
  color: #666;
  margin-right: 19px;
}
.h15 {
  font: 20px "Ubuntu-Bold";
  color: #333;
}
.h15 span {
  font: 15px "Ubuntu-Regular";
}
.cart_price_w {
  margin-top: -4px;
}
.cart_price_w .plus_minus_w {
  margin-top: 0;
  margin-right: 34px;
}
.cart_price_w {
  margin-right: 51px;
  min-width: 169px;
}
.cart_footer {
  padding-top: 25px;
  padding-left: 30px;
  padding-bottom: 26px;
  box-sizing: border-box;
}
.cart_footer form {
  width: 291px;
  position: relative;
  box-sizing: border-box;
}
.cart_footer form input[type=text] {
  width: 291px;
  height: 38px;
  border-radius: 17.5px;
  border: 2px solid #E8E8E8;
  box-sizing: border-box;
  font: 15px "Ubuntu-Regular";
  color: #666666;
  padding-left: 20px;
  padding-right: 130px;
}
.cart_footer form button {
  position: absolute;
  right: 3px;
  top: 3px;
  background: #E8E8E8;
  width: 120px;
  height: 31px;
  font: 15px "Ubuntu-Regular";
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  color: #999999;
}
.cart_footer form button:hover {
  transition: 0.3s;
  background: #f2ac00;
  color: #111;
}
.final_price {
  margin-left: 26%;
}
.h16 {
  font: 20px "Ubuntu-Regular";
  color: #111;
}
.h16 strong {
  margin-left: 25px;
  font: 30px "Ubuntu-Bold";
}
.h16 span {
  font-size: 15px;
}
.back {
  text-align: left;
}
.back a {
  font: 15px "Ubuntu-Regular";
  color: #781214;
  position: relative;
  margin-top: 35px;
  margin-left: 27px;
  transition: 0.3s;
}
.back a:hover {
  transition: 0.3s;
  text-decoration: underline;
}
.back a:before {
  width: 19px;
  height: 15px;
  content: "";
  position: absolute;
  transform: rotate(-180deg);
  left: -29px;
  top: 1px;
  background: url(../images/arrow.png) no-repeat center 0;
}
.form_cart_w {
  width: 360px;
  border-radius: 3px;
  margin-top: 97px;
  background: #fff;
  max-width: 100%;
}
.h17 {
  font: 24px "Ubuntu-Bold";
  color: #111;
  background: #f2ac00;
  padding-top: 31px;
  padding-bottom: 33px;
  text-align: left;
  padding-left: 28px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.form_cart {
  margin-top: 34px;
}
.form_cart form {
  padding-left: 29px;
  padding-right: 31px;
  padding-bottom: 40px;
}
.form_cart form .input1 {
  margin-bottom: 28px;
}
.form_cart form .input1 input[type=text] {
  font: 15px "Ubuntu-Regular";
  width: 195px;
  border: none;
  background: none;
  border-bottom: 2px solid #E8E8E8;
  color: #333333;
  box-sizing: border-box;
  padding-bottom: 7px;
}
.form_cart form .input1 .input1_1 input[type=text] {
  width: 85px;
}
.form_cart form .input1.input3 input[type=text] {
  width: 300px;
}
.form_cart form .input_star {
  position: relative;
}
.form_cart form .input_star:before {
  width: 7px;
  height: 6px;
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  background: url(../images/star.png) no-repeat center 0;
}
.cart_button button {
  font: 18px "Ubuntu-Bold";
  border-radius: 27.5px;
  border: none;
  background: #781214;
  color: #fff;
  box-sizing: border-box;
  width: 300px;
  height: 55px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.cart_button button:hover {
  transition: 0.3s;
  background: #4A0B0C;
}
.filter.filter_cart {
  margin-bottom: 36px;
}
.filter.filter_cart ul .active label {
  color: #781214;
  box-sizing: border-box;
  border-bottom: 1px dashed #781214;
}
.container3 {
  margin-bottom: 36px;
}
#toggler {
  position: relative;
  width: 40px;
  height: 29px;
  cursor: pointer;
  margin: 0 auto;
  z-index: 1000;
}
#toggler > span {
  width: 38px;
  height: 6px;
  margin-bottom: 4px;
  border-radius: 3px;
  background: #f2ac00;
  display: block;
  z-index: 1000;
}
.transition {
  transition: 0.3s;
}
#lines #toggler.open .left {
  background: #781214;
}
#lines #toggler.open .right {
  background: #781214;
}
#toggler.open .right {
  transform: rotate(45deg);
  top: 7px;
  left: 0;
  position: absolute;
}
#toggler.open .left {
  transform: rotate(-45deg);
  top: 7px;
  left: 0;
  position: absolute;
}
#toggler.open .hide {
  display: none;
}
#left-sidebar.open {
  left: 0;
}
#left-sidebar {
  position: fixed;
  left: -1060px;
  z-index: 1000;
  background: #F1F5F7;
  height: 100%;
  top: 107px;
  width: 1060px;
  max-width: 100;
}
.header_mob {
  background: #fff;
  width: 100%;
  z-index: 100;
  padding: 29px 30px;
  box-sizing: border-box;
  display: none;
  margin-top: -1px;
  min-height: 107px;
}
#left-sidebar #mobile-navigation {
  width: 100%;
}
#mobile-navigation {
  padding-left: 20px;
  box-sizing: border-box;
}
.header_mob .basket_b a {
  width: 48px;
  height: 48px;
  background: #781214;
  padding: 0;
}
.header_mob .basket_b a span {
  background: #f2ac00;
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 25px;
  left: 33px;
  top: -8px;
}
.header_mob .basket_b a:before {
  left: 11px;
  top: 11px;
  width: 26px;
  background: url(../images/basket_b1.png) no-repeat center 0;
}
.header_mob .tell {
  display: none;
}
.header_mob.open {
  padding: 39px 30px;
}
.header_mob.open .logo {
  display: none;
}
.header_mob.open .basket_b_w {
  display: none;
}
.header_mob.open .tell {
  display: block;
}
.header_mob.open > .flex > .flex {
  justify-content: space-between;
  width: 100%;
}
#mobile-navigation {
  padding-left: 65px;
  padding-top: 50px;
}
.left-sidebar_w .social a {
  margin-right: 5px;
}
.left-sidebar_w .social a img {
  filter: none;
  opacity: 1;
}
.left-sidebar_w .top_nav ul li a {
  font-size: 30px;
  margin-bottom: 35px;
}
.left-sidebar_w .top_nav ul li {
  margin-right: 0;
}
.left-sidebar_w .h_w {
  margin-bottom: 55px;
}
.left-sidebar_w .h1 {
  font-size: 30px;
  padding-left: 0;
  margin-bottom: 5px;
}
.left-sidebar_w .h1:before {
  width: 27px;
  height: 37px;
  left: -31px;
  background-image: url(../images/marker1.png);
}
.left-sidebar_w .h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}
.cart_footer_mob {
  background-color: #ffeec5;
  box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 15px;
  box-sizing: border-box;
  width: 100%;
  display: none;
}
.order_b {
  display: none;
}
.order .cart_footer_mob .order_go {
  display: none;
}
.order .cart_footer_mob .order_b {
  display: block;
}
.order .cart_footer_mob .h16 {
  display: none;
}
.order_go {
  width: 345px;
  max-width: 100%;
}
.order_go a {
  font: 28px/60px "Ubuntu-Bold";
  height: 60px;
  padding: 0 30px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #111;
  max-width: 100%;
  background: #f2ac00;
  border-radius: 30px;
  transition: 0.3s;
}
.order_go a:hover {
  background: #D59900;
  transition: 0.3s;
}
.order .form_cart_w {
  display: block;
  margin-bottom: 20px;
}
.order .cart_footer_mob {
  display: none;
}
.order .cart_w_w {
  display: none;
}
.cart_footer_mob {
  position: fixed;
  bottom: 0;
}
